<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Explore Your Best Restaurant">
  <meta name="theme-color" content="#7f1d1d"/>
  <link rel="icon" href="./favicon.png">
  <link rel="manifest" href="./app.webmanifest">
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <script src="https://use.fontawesome.com/fafbcafccd.js"></script>
  
  <title>Resto - Explore Your Best Restaurant</title>
</head>
<body>
  <a href="#main-content" class="skip-link">
    skip to content
  </a>
  <header>
    <h1 id="logo">
      <img class="lazyload" data-src="./logo/logo-1.svg" alt="logo">
    </h1>
    <div id="hamburger-menu" class="hamburger-menu"></div>
    
    <nav id="drawer" class="close">
      <ul class="nav-list">
        <li class="nav-item">
          <a href="/">home</a>
        </li>
        <li class="nav-item">
          <a href="#/favorite">favorite</a>
        </li>
        <li class="nav-item">
          <a href="https://github.com/ekialfani" target="_blank" rel="noreferrer">
            about us
          </a>
        </li>
      </ul>
    </nav>
  </header>
  <main></main>
  <footer>
    <p>&copy; Copyright 2022 - </p>
    <a href="index.html" aria-label="resto homepage">
      <img class="lazyload" data-src="./logo/logo-2.svg" alt="footer logo" width="max-content" height="max-content">
    </a>
  </footer>
</body>
</html>
